body{
	background:whitesmoke;
	}
#content0{
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: -100;
		background: rgba(17,250,192,0.2);
		}
#header{
		position:fixed;
		top: 0.1%;
		bottom: 87.9%;
		left: 0.2%;
		right: 13.3%;
		background: rgba(17,250,192,0.6);
		text-align: center;
		}
#footer{
	   position:fixed;
	   top: 95.9%;
	   bottom: 0%;
	   width:100%;
	   background: #ACD1B9;
	   color:#000000;
	   }
#menu1{
	  position:fixed;
	  top: 0.1%;
	  bottom: 0.1%;
	  left: 86.8%;
	  right: 0.2%;
	  background: rgba(17,250,192,0.4);
	  }
#menu2{
	  position:fixed;
	  top: 12.2%;
	  bottom: 4.2%;
	  left: 0.2%;
	  right: 89.8%;
	  background: rgba(17,250,192,0.7);
	  }
#menu3{
	  position:fixed;
	  top: 12.2%;
	  bottom: 4.2%;
	  left: 10.4%;
	  right: 79.6%;
	  background: rgba(17,250,192,0.95);
	  z-index:1000;
	  }
#content{
	    position:fixed;
	    top: 12.2%;
	    bottom: 4.2%;
	    left: 0.2%;
	    right: 13.3%;
	    background: none;
	    text-align: center;
	    overflow: auto;
	    }
#indexcontent{
		    position:fixed;
		    top:12.2%;
		    background:whitesmoke;
		    left:40%;
		    right:40%;
		    bottom:87.2%;
		    text-align:center;

}
#hcontent{
		position:fixed;
		top: 12.2%;
		bottom: 4.2%;
		left: 10.3%;
		right: 13.3%;
		background: none;
		text-align: center;
		overflow: auto;
		}
#ccontent{
		position:fixed;
		top: 12.2%;
		bottom: 40%;
		left: 10.3%;
		right: 13.3%;
		background: none;
		text-align: center;
		overflow: auto;
		}
#ccontent2{
		position:fixed;
		top: 14.2%;
		bottom: 4.2%;
		left: 10.3%;
		right: 13.3%;
		background: none;
		text-align: center;
		overflow: auto;
		}
#ccontent3{
		position:fixed;
		top: 14.2%;
		bottom: 4.2%;
		left: 20.3%;
		right: 20.3%;
		background: none;
		text-align: center;
		overflow: auto;
		}
#ocontent{
		position:fixed;
		top: 60%;
		bottom: 4.2%;
		left: 10.3%;
		right: 60.3%;
		background: none;
		text-align: center;
		overflow: auto;
		}
#ocontent2{position:fixed;top: 43%;bottom: 4.2%;left: 39.7%;right: 13.3%;background: none;text-align: center;overflow: auto;}
#bcontent{position:fixed;top: 12.2%;bottom: 4.2%;left: 20.3%;right: 13.3%;background: none;text-align: center;overflow: auto;}
#logo{position:fixed;top: 0.1%;bottom: 87.9%;left: 0.2%;right: 89.8%;background: none;}
.titre1{margin: 0;padding: 0;font-size: 30px;text-transform: uppercase;color: green;text-shadow:1px 1px #000;}
.titre2{margin: 0;padding: 0;font-size: 12px;color: #333;}
.titre3{margin: 0;padding: 0;font-size: 20px;color: green;text-shadow:1px 1px #000;margin-top: 5px;margin-bottom: 5px;}
.bmenu1{border: none;width: 100%;margin-bottom: 1px;padding-bottom: 5px;padding-top: 5px;text-align: center;background: none;
        border-bottom: 1px solid white;color: green;}
.bdconn{border: radius;width: 100%;margin-bottom: 1px;padding-bottom: 5px;padding-top: 5px;text-align: center;background: red;border-bottom: 1px solid white;color: green;}
.bdconn:hover{cursor: pointer;padding-bottom: 7px;padding-top: 7px;background: rgba(246,11,11,0.9);color: green;
              text-shadow: 1px 1px #333;border-bottom: 5px solid green;}
.bmenu1:hover{cursor: pointer;padding-bottom: 7px;padding-top: 7px;background: rgba(17,250,192,0.9);color: white;
              text-shadow: 1px 1px #333;border-bottom: 5px solid green;}
.bmenu2{border: none;width: 98%;margin-bottom: 1px;padding-bottom: 8px;padding-top: 8px;text-align: center;background: none;
        color: green;border-radius: 0 0 5px 5px;box-shadow: 2px 2px green;font-size: 14px;}
.bmenu2:hover{cursor: pointer;padding-bottom: 12px;ppxadding-top: 12px;background: green;color: white;
              text-shadow: 1px 1px #333;font-size: 18px;}
 
 .bhoraire{border: none;width: 100%;margin-bottom: 1px;padding-bottom: 15px;padding-top: 15px;text-align: center;background: none; color: black;font-size: 20px;
         border-top:1px solid green;border-left:1px solid green;}
.bhoraire:hover{cursor: pointer;background: green;color: white;
              text-shadow: 1px 1px #333;}
 .ho1 {background: rgba(17,250,192,0.6); }
 
.tdefil{color: green;font-size: 13px;font-weight: bold;}
.w80{width: 80%;margin-left: 10%;}
.w70{width: 70%;margin-left: 15%;}
.w90{width: 90%;margin-left: 5%;}
.w98{width: 98%;margin-left: 1%;}
.wd1 {width:150px !important;}
.rouge {color:red !important;}
.w98{width: 98%;margin-left: 1%;}
th{
   border: none;
   background: rgba( 103, 101, 100 ,0.6);
   text-transform: capitalize;
   border-bottom: white solid 1px;
   color: white;
   font-size: 16px;
   text-shadow:1px 1px #000;
   border-left: white solid 1px;}
th:first-child{border-left: none !important;}
table.c1{background: rgba(255,255,255,0.4);box-shadow: 1px 1px green;}
.l1{background: rgba(255,255,255,0.6);}
li:hover {
  background-color: #101010 !important;
  color:white;
  cursor:pointer;
         }
li.current-menu-item > a {
    background: #101010 !important;
    color: #fff;
    cursor:pointer;}
.a1{
    color: #000 !important;
    cursor:pointer;
}
.a1:hover {
  		color:black !important;
         }
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  								background-color:   #e7e3e3  ; !important;
  								color:#000;
							  }
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.428571429;
  vertical-align: top;
  border-top: 1px solid #dddddd;
  width:0% !important;
  text-align: center;
}
.form-horizontal{
			  background: rgba( 103, 101, 100 ,0.6);
			  color: white;
			 }
.droite{text-align: right !important;}
.gauche{text-align: left; !important;}
.centre{text-align: center !important;}
.badd{
	 border:none;
	 background: rgba(254, 250, 249,0.8);
	 color: black;
	 text-align: center;
	 padding: 5px 10px;
	 border-radius: 5px;
      box-shadow: 2px 2px #101010;
      }
.badd:hover{
		  background: #101010;
		  color: white;
		  padding: 5px 20px;
		  cursor: pointer;
		  box-shadow: 1px 1px whitesmoke;
		  }
		  
.bmod{border:none;background: rgba(17,250,192,0.7);color: #000;text-align: center;padding: 5px 10px;border-radius: 5px;
       box-shadow: 1px 1px #666;}
.bmod:hover{background: green;color: #fff;padding: 5px 10px;border-radius: 5px;cursor: pointer;}
.bsup{border:none;color: green;text-align: center;padding: 2px 2px;border-radius: 5px;background: rgba(255,255,255,0.8);}
.bsup:hover{text-align: center;padding: 3px 3px;border-radius: 5px;box-shadow: 1px 1px #666;cursor: pointer;}
#connexion{position: fixed;top: 15%;bottom: 20%;left: 30%;right: 30%;z-index: 1000;background: green;border-radius: 15px;
box-shadow: 5px 2px #666;}
.lconn{font-size: 25px;color: #ffffff !important;}
#f1conteneur{position: fixed;top: 15%;bottom: 20%;left: 30%;right: 30%;z-index: 1000;background: #ffffff;border-radius: 15px;
box-shadow: 5px 2px #666;}
#f1header{position: absolute;top: 0;width: 100%;height: 10%;background: green;border-radius: 15px 15px 0 0;text-align: center;}
#f1content{position: absolute;bottom: 13%;top: 10%;width: 100%;padding-top: 10px;}
#f1footer{position: absolute;bottom: 0;width: 100%;height: 13%;background: green;border-radius: 0 0 15px 15px;text-align: right;}

#f4conteneur{position: fixed;top: 15%;bottom: 20%;left: 20%;right: 30%;z-index: 1000;background: #ffffff;border-radius: 15px;
box-shadow: 5px 2px #666;}
#f4header{position: absolute;top: 0;width: 100%;height: 10%;background: green;border-radius: 15px 15px 0 0;text-align: center;}
#f4content{position: absolute;bottom: 13%;top: 10%;width: 100%;padding-top: 10px;}
#f4footer{position: absolute;bottom: 0;width: 100%;height: 13%;background: green;border-radius: 0 0 15px 15px;text-align: right;}

.ftitre{color: white;font-size: 18px;text-shadow: 1px 1px #000;margin: 0;padding: 0;margin-top: 5px;}
.fbutton{border: none; background: rgba(0,0,0,0.5);color: white;font-size: 18px;text-shadow: 1px 1px #333;margin-right: 10px;
margin-top: 8px;padding: 5px 10px; border-radius: 5px; box-shadow: 1px 1px #000;}
.fbutton:hover{background: white;color: green;padding: 5px 20px;cursor: pointer;}
table.formulaire td{font-size: 20px;color: green;font-family: courier, fixed, monospace;text-align: left;}
input.ftext{background: rgba(17,250,192,0.4);height: 25px;width: 98%;color: black;border-radius: 8px;border: none;text-align: center;}
select{background: rgba(17,250,192,0.4);height: 25px;width: 90%;color: black;border-radius: 8px;border: none;text-align: center;}
textarea{background: rgba(17,250,192,0.4);height: 25px;width: 98%;height:20%; color: black;border-radius: 8px;border: none;text-align: center;}
input:focus, select:focus, textarea:focus {border: solid 1px green;}
#f2conteneur{position: fixed;top: 30%;bottom: 35%;left: 30%;right: 30%;z-index: 1000;background: #ffffff;border-radius: 15px;
box-shadow: 5px 2px #666;}
#f2header{position: absolute;top: 0;width: 100%;height: 15%;background: green;border-radius: 15px 15px 0 0;text-align: center;}
#f2content{color:green; position: absolute;bottom: 13%;top: 40%;width: 100%;padding-top: 10px;}
#f2footer{position: absolute;bottom: 0;width: 100%;height: 17%;background: green;border-radius: 0 0 15px 15px;text-align: right;}
.ftitre{color: white;font-size: 18px;text-shadow: 1px 1px #000;margin: 0;padding: 0;margin-top: 5px;}
.fbutton{border: none; background: rgba(0,0,0,0.5);color: white;font-size: 17px;text-shadow: 1px 1px #333;margin-right: 10px;
margin-top: 5px;padding: 3px 10px; border-radius: 5px; box-shadow: 1px 1px #000;}
.fbutton:hover{background: white;color: green;padding: 5px 20px;cursor: pointer;}


.navbar-inverse {
    background-color: #74a276;
    border-color: #080808;
    }




